body{
    background-color: #EEC7AC;
}

.contanier-a{
    height: 230px;
    background-color:#FFF5E0 ;
    padding: 10px 10px;
    text-align: right;
    border-radius: 95px 0 0 0;
    margin-top: 30px;
}

img {
    width: 200px;
    height:200px;
    border-radius: 56px 0px 56px 0px;
    float: right;
    padding-left: 40px;
}

.botao {
    background-color: #D68181;
    box-shadow: 1px 1px 1px #000;
    padding: 10px 50px;
    border-radius: 73px;  
    font-weight: bold;
    margin-right: 200px;
    cursor: pointer;
  }

.botao:active{
    box-shadow: none;
}

.botao:hover{
    transform: scale(1.05);
}

.alinhamento-conteudo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    text-align: right;
}
