body{
    background-color: #EEC7AC;
    font-size: 20px;
}
*{box-sizing: border-box;}

.containerbase{
 /*   height: auto; */
    background-color:#FFF5E0 ;
    padding: 50px 30px;
    border-radius: 95px 0 0 0;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.containerdireita{
    text-align: right;
    justify-content: flex-end;
}

.containeresquerda{
    text-align: left;
    justify-content: flex-start;
}

.alinhamento-conteudo{
    text-align: right;
}


img {
    width: 200px;
    height:200px;
    border-radius: 56px 0 56px 0;
}

.botaoagende {
    background-color: #D68181;
    box-shadow: 1px 1px 1px #000;
    padding: 10px 50px;
    border-radius: 73px;  
    font-weight: bold;
    margin-right: 400px;
    cursor: pointer;
  }

.botao:active{
    box-shadow: none;
}

.botao:hover{
    transform: scale(1.05);
}

@media (max-width: 855px) {
    .contanier-a{
       height: 300px;
    }
   }

   
.titulobase {
    font-style: bold;
    display: flex;
    gap: 10px;
}

/*vai ter que parar no fim da caixa*/
.titulosobremim::after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid;
    margin: auto;
    margin-right: 20px;
}

.titulossessoesesquerda::after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid;
    margin: auto;
    margin-right: 20px;
}

.titulossessoesdireita::before {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid;
    margin: auto;
}

.titulossubpaginasdireita::before {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid;
    margin: auto;
    margin-left: 20px;
}

.titulossubpaginasesquerda::after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid;
    margin: auto;
    margin-right: 20px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 10px 0px 10px 0px;
  }
  
  .icon-bar a:hover {
    background-color: rgba(214, 129, 129, 1);
  }
  
  .whatsapp {
    background: #2da728;
    color: white;
  }

  .instagram {
    background: #c32aa3;
    color: white;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .rodape_final{
          padding: 0px;
          margin: 0px;
          box-sizing: boder-box;
      
          background-color: rgba(214, 129, 129, 1);
          color: #000 ;
          display: grid;
          grid-template-columns: 90% 10%;
          align-items: center;
          gap: 10px;
  }
  .rodape_final > div {
      text-align: center;
      font-weight: bold;

 }
 .voltar-top{
    color: #000 ;
    text-decoration: none;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    align-items: center;

 }
 .voltar-top i{
     display: block;
     padding: 10px;
     border-radius: 65px;
     color: white;
     background-color: #000;
 }